In [4]:
names = ["Hans", "Klaus", "Henrik", "Egon"]
h_names = [x for x in names if x.startswith("H")]
h_names

['Hans', 'Henrik']

In [6]:
[n**3 for n in list(range(1,100))]

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

In [7]:
[(len(x), x) for x in names]

[(4, 'Hans'), (5, 'Klaus'), (6, 'Henrik'), (4, 'Egon')]

In [12]:
string_w_numbers = "1ny9d71n97n79h"
for x in string_w_numbers:
    if x.isnumeric(): print(x)

1
9
7
1
9
7
7
9

In [14]:
set([(d1, d2) for d1 in range(1,7) for d2 in range(1,7)])

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [16]:
dict([(x, len(x)) for x in names])

{'Hans': 4, 'Klaus': 5, 'Henrik': 6, 'Egon': 4}

In [19]:
import math
numbers = [16, 25, 49, 81, 64]
dict([(n, math.sqrt(n)) for n in numbers])

{16: 4.0, 25: 5.0, 49: 7.0, 81: 9.0, 64: 8.0}

In [24]:
set([(str(d1) + " & " + str(d2), 1/36*100) for d1 in range(1,7) for d2 in range(1,7)])

{('1 & 1', 2.7777777777777777),
 ('1 & 2', 2.7777777777777777),
 ('1 & 3', 2.7777777777777777),
 ('1 & 4', 2.7777777777777777),
 ('1 & 5', 2.7777777777777777),
 ('1 & 6', 2.7777777777777777),
 ('2 & 1', 2.7777777777777777),
 ('2 & 2', 2.7777777777777777),
 ('2 & 3', 2.7777777777777777),
 ('2 & 4', 2.7777777777777777),
 ('2 & 5', 2.7777777777777777),
 ('2 & 6', 2.7777777777777777),
 ('3 & 1', 2.7777777777777777),
 ('3 & 2', 2.7777777777777777),
 ('3 & 3', 2.7777777777777777),
 ('3 & 4', 2.7777777777777777),
 ('3 & 5', 2.7777777777777777),
 ('3 & 6', 2.7777777777777777),
 ('4 & 1', 2.7777777777777777),
 ('4 & 2', 2.7777777777777777),
 ('4 & 3', 2.7777777777777777),
 ('4 & 4', 2.7777777777777777),
 ('4 & 5', 2.7777777777777777),
 ('4 & 6', 2.7777777777777777),
 ('5 & 1', 2.7777777777777777),
 ('5 & 2', 2.7777777777777777),
 ('5 & 3', 2.7777777777777777),
 ('5 & 4', 2.7777777777777777),
 ('5 & 5', 2.7777777777777777),
 ('5 & 6', 2.7777777777777777),
 ('6 & 1', 2.7777777777777777),
 ('6 & 2', 2.7777777777777777),
 ('6 & 3', 2.7777777777777777),
 ('6 & 4', 2.7777777777777777),
 ('6 & 5', 2.7777777777777777),
 ('6 & 6', 2.7777777777777777)}